[Desktop Entry]
Type=Application
Name=Notes
Name[am]=Notes
Name[ar]=Notes
Name[ast]=Notes
Name[be]=Notes
Name[bg]=Notes
Name[ca]=Notes
Name[cs]=Notes
Name[da]=Notes
Name[de]=Notes
Name[el]=Notes
Name[en_AU]=Notes
Name[en_GB]=Notes
Name[es]=Notes
Name[eu]=Notes
Name[fi]=Notes
Name[fr]=Notes
Name[gl]=Notes
Name[he]=Notes
Name[hr]=Notes
Name[hu]=Notes
Name[hy_AM]=Notes
Name[hye]=Notes
Name[id]=Notes
Name[ie]=Notes
Name[is]=Notes
Name[it]=Notes
Name[ja]=Notes
Name[kk]=Notes
Name[ko]=Notes
Name[lt]=Notes
Name[lv]=Notes
Name[ms]=Notes
Name[nb]=Notes
Name[nl]=Notes
Name[oc]=Notes
Name[pl]=Notes
Name[pt]=Notes
Name[pt_BR]=Notes
Name[ro]=Notes
Name[ru]=Notes
Name[sk]=Notes
Name[sl]=Notes
Name[sq]=Notes
Name[sr]=Notes
Name[sv]=Notes
Name[th]=Notes
Name[tr]=Notes
Name[ug]=Notes
Name[uk]=Notes
Name[ur]=Notes
Name[ur_PK]=Notes
Name[zh_CN]=Notes
Name[zh_TW]=Notes
Comment=Ideal for your quick notes
Comment[am]=Ideal for your quick notes
Comment[ar]=Ideal for your quick notes
Comment[ast]=Ideal for your quick notes
Comment[be]=Ideal for your quick notes
Comment[bg]=Ideal for your quick notes
Comment[ca]=Ideal for your quick notes
Comment[cs]=Ideal for your quick notes
Comment[da]=Ideal for your quick notes
Comment[de]=Ideal for your quick notes
Comment[el]=Ideal for your quick notes
Comment[en_AU]=Ideal for your quick notes
Comment[en_GB]=Ideal for your quick notes
Comment[es]=Ideal for your quick notes
Comment[eu]=Ideal for your quick notes
Comment[fi]=Ideal for your quick notes
Comment[fr]=Ideal for your quick notes
Comment[gl]=Ideal for your quick notes
Comment[he]=Ideal for your quick notes
Comment[hr]=Ideal for your quick notes
Comment[hu]=Ideal for your quick notes
Comment[hy_AM]=Ideal for your quick notes
Comment[hye]=Ideal for your quick notes
Comment[id]=Ideal for your quick notes
Comment[ie]=Ideal for your quick notes
Comment[is]=Ideal for your quick notes
Comment[it]=Ideal for your quick notes
Comment[ja]=Ideal for your quick notes
Comment[kk]=Ideal for your quick notes
Comment[ko]=Ideal for your quick notes
Comment[lt]=Ideal for your quick notes
Comment[lv]=Ideal for your quick notes
Comment[ms]=Ideal for your quick notes
Comment[nb]=Ideal for your quick notes
Comment[nl]=Ideal for your quick notes
Comment[oc]=Ideal for your quick notes
Comment[pl]=Ideal for your quick notes
Comment[pt]=Ideal for your quick notes
Comment[pt_BR]=Ideal for your quick notes
Comment[ro]=Ideal for your quick notes
Comment[ru]=Ideal for your quick notes
Comment[sk]=Ideal for your quick notes
Comment[sl]=Ideal for your quick notes
Comment[sq]=Ideal for your quick notes
Comment[sr]=Ideal for your quick notes
Comment[sv]=Ideal for your quick notes
Comment[th]=Ideal for your quick notes
Comment[tr]=Ideal for your quick notes
Comment[ug]=Ideal for your quick notes
Comment[uk]=Ideal for your quick notes
Comment[ur]=Ideal for your quick notes
Comment[ur_PK]=Ideal for your quick notes
Comment[vi]=Ideal for your quick notes
Comment[zh_CN]=Ideal for your quick notes
Comment[zh_TW]=Ideal for your quick notes
TryExec=xfce4-notes
Exec=xfce4-notes
Icon=xfce4-notes-plugin
OnlyShowIn=XFCE;GNOME;
Terminal=false
Hidden=true

