[Desktop Entry]
Name=Text Editor
Name[pl]=Edytor tekstu
Comment=Edit text files
Comment[pl]=Edytuj pliki tekstowe
Exec=xed %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;tabs;highlighting;code;multiple;files;pluggable;notepad;
X-MATE-DocPath=xed/xed.xml
Actions=new-window;
X-XFCE-Source=file:///usr/share/applications/xed.desktop

[Desktop Action new-window]
Name=New Window
Exec=xed --new-window %U
