[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Browse the World Wide Web
Comment[pl]=Przeglądanie stron WWW
Encoding=UTF-8
Exec=firefox %u
GenericName=Web Browser
GenericName[pl]=Przeglądarka WWW
Icon=firefox
MimeType=text/html;image/png;image/jpeg;image/gif;application/xml;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;
Name=Firefox
Name[pl]=Firefox
StartupNotify=true
StartupWMClass=Firefox
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-FullName=Firefox Web Browser
X-GNOME-FullName[pl]=Przeglądarka WWW Firefox
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
X-XFCE-Source=file:///usr/share/applications/firefox.desktop
