TimeScale=0
Size=120
Frame=0
Border=1
Bars=0
PerCore=0
TrackedCore=0
InTerminal=1
StartupNotification=0
ColorMode=1
Foreground1=rgb(94,189,171)
Foreground2=rgb(254,164,76)
Foreground3=rgb(212,25,25)
Background=rgba(191,64,64,0)

