[user]
pinned=/usr/share/applications/thunar.desktop;/usr/share/applications/mousepad.desktop;/usr/share/applications/firefox.desktop;/usr/share/applications/xfce4-terminal.desktop;
indicatorStyle=2
inactiveIndicatorStyle=2
indicatorOrientation=4
indicatorColor=rgb(255,163,72)
inactiveColor=rgb(76,166,230)
forceIconSize=true
iconSize=20
indicatorColorFromTheme=false
