[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=org.xfce.filemanager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name=File Manager
Name[ar]=File Manager
Name[ast]=File Manager
Name[be]=File Manager
Name[be@tarask]=File Manager
Name[bg]=File Manager
Name[bn]=File Manager
Name[ca]=File Manager
Name[cs]=File Manager
Name[da]=File Manager
Name[de]=File Manager
Name[el]=File Manager
Name[en_AU]=File Manager
Name[en_CA]=File Manager
Name[en_GB]=File Manager
Name[es]=File Manager
Name[et]=File Manager
Name[eu]=File Manager
Name[fi]=File Manager
Name[fr]=File Manager
Name[gl]=File Manager
Name[he]=File Manager
Name[hr]=File Manager
Name[hu]=File Manager
Name[hy_AM]=File Manager
Name[hye]=File Manager
Name[id]=File Manager
Name[ie]=File Manager
Name[is]=File Manager
Name[it]=File Manager
Name[ja]=File Manager
Name[ka]=File Manager
Name[kab]=File Manager
Name[kk]=File Manager
Name[ko]=File Manager
Name[lt]=File Manager
Name[ms]=File Manager
Name[nb]=File Manager
Name[nl]=File Manager
Name[nn]=File Manager
Name[oc]=File Manager
Name[pl]=File Manager
Name[pt]=File Manager
Name[pt_BR]=File Manager
Name[ro]=File Manager
Name[ru]=File Manager
Name[sk]=File Manager
Name[sl]=File Manager
Name[sq]=File Manager
Name[sr]=File Manager
Name[sv]=File Manager
Name[th]=File Manager
Name[tr]=File Manager
Name[ug]=File Manager
Name[uk]=File Manager
Name[zh_CN]=File Manager
Name[zh_HK]=File Manager
Name[zh_TW]=File Manager
Comment=Browse the file system
Comment[ar]=Browse the file system
Comment[ast]=Browse the file system
Comment[be]=Browse the file system
Comment[be@tarask]=Browse the file system
Comment[bg]=Browse the file system
Comment[bn]=Browse the file system
Comment[ca]=Browse the file system
Comment[cs]=Browse the file system
Comment[da]=Browse the file system
Comment[de]=Browse the file system
Comment[el]=Browse the file system
Comment[en_AU]=Browse the file system
Comment[en_CA]=Browse the file system
Comment[en_GB]=Browse the file system
Comment[es]=Browse the file system
Comment[et]=Browse the file system
Comment[eu]=Browse the file system
Comment[fi]=Browse the file system
Comment[fr]=Browse the file system
Comment[gl]=Browse the file system
Comment[he]=Browse the file system
Comment[hr]=Browse the file system
Comment[hu]=Browse the file system
Comment[hy_AM]=Browse the file system
Comment[hye]=Browse the file system
Comment[id]=Browse the file system
Comment[ie]=Browse the file system
Comment[is]=Browse the file system
Comment[it]=Browse the file system
Comment[ja]=Browse the file system
Comment[ka]=Browse the file system
Comment[kab]=Browse the file system
Comment[kk]=Browse the file system
Comment[ko]=Browse the file system
Comment[lt]=Browse the file system
Comment[ms]=Browse the file system
Comment[nb]=Browse the file system
Comment[nl]=Browse the file system
Comment[nn]=Browse the file system
Comment[oc]=Browse the file system
Comment[pl]=Browse the file system
Comment[pt]=Browse the file system
Comment[pt_BR]=Browse the file system
Comment[ro]=Browse the file system
Comment[ru]=Browse the file system
Comment[sk]=Browse the file system
Comment[sl]=Browse the file system
Comment[sq]=Browse the file system
Comment[sr]=Browse the file system
Comment[sv]=Browse the file system
Comment[th]=Browse the file system
Comment[tr]=Browse the file system
Comment[ug]=Browse the file system
Comment[uk]=Browse the file system
Comment[zh_CN]=Browse the file system
Comment[zh_HK]=Browse the file system
Comment[zh_TW]=Browse the file system
Hidden=true

