[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-appfinder --collapsed
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Run Program...
Name[am]=Run Program...
Name[ar]=Run Program...
Name[ast]=Run Program...
Name[be]=Run Program...
Name[bg]=Run Program...
Name[ca]=Run Program...
Name[cs]=Run Program...
Name[da]=Run Program...
Name[de]=Run Program...
Name[el]=Run Program...
Name[en_AU]=Run Program...
Name[en_CA]=Run Program...
Name[en_GB]=Run Program...
Name[es]=Run Program...
Name[et]=Run Program...
Name[eu]=Run Program...
Name[fi]=Run Program...
Name[fr]=Run Program...
Name[gl]=Run Program...
Name[he]=Run Program...
Name[hi]=Run Program...
Name[hr]=Run Program...
Name[hu]=Run Program...
Name[hy_AM]=Run Program...
Name[hye]=Run Program...
Name[id]=Run Program...
Name[ie]=Run Program...
Name[is]=Run Program...
Name[it]=Run Program...
Name[ja]=Run Program...
Name[kk]=Run Program...
Name[ko]=Run Program...
Name[lt]=Run Program...
Name[ms]=Run Program...
Name[nb]=Run Program...
Name[nl]=Run Program...
Name[nn]=Run Program...
Name[oc]=Run Program...
Name[pl]=Run Program...
Name[pt]=Run Program...
Name[pt_BR]=Run Program...
Name[ro]=Run Program...
Name[ru]=Run Program...
Name[sk]=Run Program...
Name[sl]=Run Program...
Name[sq]=Run Program...
Name[sr]=Run Program...
Name[sv]=Run Program...
Name[te]=Run Program...
Name[th]=Run Program...
Name[tr]=Run Program...
Name[ug]=Run Program...
Name[uk]=Run Program...
Name[vi]=Run Program...
Name[zh_CN]=Run Program...
Name[zh_HK]=Run Program...
Name[zh_TW]=Run Program...
Comment=Enter a command you want to launch
Comment[ar]=Enter a command you want to launch
Comment[be]=Enter a command you want to launch
Comment[bg]=Enter a command you want to launch
Comment[ca]=Enter a command you want to launch
Comment[cs]=Enter a command you want to launch
Comment[da]=Enter a command you want to launch
Comment[de]=Enter a command you want to launch
Comment[el]=Enter a command you want to launch
Comment[en_CA]=Enter a command you want to launch
Comment[es]=Enter a command you want to launch
Comment[et]=Enter a command you want to launch
Comment[eu]=Enter a command you want to launch
Comment[fi]=Enter a command you want to launch
Comment[fr]=Enter a command you want to launch
Comment[gl]=Enter a command you want to launch
Comment[he]=Enter a command you want to launch
Comment[hi]=Enter a command you want to launch
Comment[hr]=Enter a command you want to launch
Comment[hu]=Enter a command you want to launch
Comment[hy_AM]=Enter a command you want to launch
Comment[hye]=Enter a command you want to launch
Comment[id]=Enter a command you want to launch
Comment[ie]=Enter a command you want to launch
Comment[it]=Enter a command you want to launch
Comment[ja]=Enter a command you want to launch
Comment[kk]=Enter a command you want to launch
Comment[ko]=Enter a command you want to launch
Comment[lt]=Enter a command you want to launch
Comment[ms]=Enter a command you want to launch
Comment[nb]=Enter a command you want to launch
Comment[nl]=Enter a command you want to launch
Comment[oc]=Enter a command you want to launch
Comment[pl]=Enter a command you want to launch
Comment[pt]=Enter a command you want to launch
Comment[pt_BR]=Enter a command you want to launch
Comment[ro]=Enter a command you want to launch
Comment[ru]=Enter a command you want to launch
Comment[sk]=Enter a command you want to launch
Comment[sl]=Enter a command you want to launch
Comment[sq]=Enter a command you want to launch
Comment[sr]=Enter a command you want to launch
Comment[sv]=Enter a command you want to launch
Comment[th]=Enter a command you want to launch
Comment[tr]=Enter a command you want to launch
Comment[uk]=Enter a command you want to launch
Comment[zh_CN]=Enter a command you want to launch
Comment[zh_HK]=Enter a command you want to launch
Comment[zh_TW]=Enter a command you want to launch
Keywords=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[be]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[bg]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[ca]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[cs]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[da]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[de]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[en_CA]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[es]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[et]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[eu]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[fr]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[gl]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[he]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[hi]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[hy_AM]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[id]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[ie]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[it]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[ja]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[kk]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[ko]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[lt]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[ms]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[nb]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[nl]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[oc]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[pl]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[pt]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[pt_BR]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[ru]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[sl]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[sq]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[sr]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[sv]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[th]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[tr]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[uk]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[zh_CN]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[zh_HK]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Keywords[zh_TW]=run;command;application;program;finder;search;launcher;everything;spotlight;sherlock;applesearch;unity dash;krunner;synapse;ulauncher;launchy;gnome do;pie;apwal;recoll;alfred;quicksilver;tracker;beagle;kupfer;
Hidden=true

