[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u
Icon=org.xfce.webbrowser
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name=Web Browser
Name[ar]=Web Browser
Name[ast]=Web Browser
Name[be]=Web Browser
Name[be@tarask]=Web Browser
Name[bg]=Web Browser
Name[bn]=Web Browser
Name[ca]=Web Browser
Name[cs]=Web Browser
Name[da]=Web Browser
Name[de]=Web Browser
Name[el]=Web Browser
Name[en_AU]=Web Browser
Name[en_CA]=Web Browser
Name[en_GB]=Web Browser
Name[es]=Web Browser
Name[et]=Web Browser
Name[eu]=Web Browser
Name[fi]=Web Browser
Name[fr]=Web Browser
Name[gl]=Web Browser
Name[he]=Web Browser
Name[hr]=Web Browser
Name[hu]=Web Browser
Name[hy_AM]=Web Browser
Name[hye]=Web Browser
Name[id]=Web Browser
Name[ie]=Web Browser
Name[is]=Web Browser
Name[it]=Web Browser
Name[ja]=Web Browser
Name[kk]=Web Browser
Name[ko]=Web Browser
Name[lt]=Web Browser
Name[ms]=Web Browser
Name[nb]=Web Browser
Name[nl]=Web Browser
Name[nn]=Web Browser
Name[oc]=Web Browser
Name[pl]=Web Browser
Name[pt]=Web Browser
Name[pt_BR]=Web Browser
Name[ro]=Web Browser
Name[ru]=Web Browser
Name[sk]=Web Browser
Name[sl]=Web Browser
Name[sq]=Web Browser
Name[sr]=Web Browser
Name[sv]=Web Browser
Name[th]=Web Browser
Name[tr]=Web Browser
Name[ug]=Web Browser
Name[uk]=Web Browser
Name[zh_CN]=Web Browser
Name[zh_HK]=Web Browser
Name[zh_TW]=Web Browser
Comment=Browse the web
Comment[ar]=Browse the web
Comment[ast]=Browse the web
Comment[be]=Browse the web
Comment[be@tarask]=Browse the web
Comment[bg]=Browse the web
Comment[bn]=Browse the web
Comment[ca]=Browse the web
Comment[cs]=Browse the web
Comment[da]=Browse the web
Comment[de]=Browse the web
Comment[el]=Browse the web
Comment[en_AU]=Browse the web
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the web
Comment[es]=Browse the web
Comment[et]=Browse the web
Comment[eu]=Browse the web
Comment[fi]=Browse the web
Comment[fr]=Browse the web
Comment[gl]=Browse the web
Comment[he]=Browse the web
Comment[hr]=Browse the web
Comment[hu]=Browse the web
Comment[hy_AM]=Browse the web
Comment[hye]=Browse the web
Comment[id]=Browse the web
Comment[ie]=Browse the web
Comment[is]=Browse the web
Comment[it]=Browse the web
Comment[ja]=Browse the web
Comment[kab]=Browse the web
Comment[kk]=Browse the web
Comment[ko]=Browse the web
Comment[lt]=Browse the web
Comment[ms]=Browse the web
Comment[nb]=Browse the web
Comment[nl]=Browse the web
Comment[nn]=Browse the web
Comment[oc]=Browse the web
Comment[pl]=Browse the web
Comment[pt]=Browse the web
Comment[pt_BR]=Browse the web
Comment[ro]=Browse the web
Comment[ru]=Browse the web
Comment[sk]=Browse the web
Comment[sl]=Browse the web
Comment[sq]=Browse the web
Comment[sr]=Browse the web
Comment[sv]=Browse the web
Comment[th]=Browse the web
Comment[tr]=Browse the web
Comment[ug]=Browse the web
Comment[uk]=Browse the web
Comment[zh_CN]=Browse the web
Comment[zh_HK]=Browse the web
Comment[zh_TW]=Browse the web
Hidden=true

