[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=org.xfce.mailreader
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/mailto;
X-AppStream-Ignore=True
Name=Mail Reader
Name[ar]=Mail Reader
Name[ast]=Mail Reader
Name[be]=Mail Reader
Name[be@tarask]=Mail Reader
Name[bg]=Mail Reader
Name[bn]=Mail Reader
Name[ca]=Mail Reader
Name[cs]=Mail Reader
Name[da]=Mail Reader
Name[de]=Mail Reader
Name[el]=Mail Reader
Name[en_AU]=Mail Reader
Name[en_CA]=Mail Reader
Name[en_GB]=Mail Reader
Name[es]=Mail Reader
Name[et]=Mail Reader
Name[eu]=Mail Reader
Name[fi]=Mail Reader
Name[fr]=Mail Reader
Name[gl]=Mail Reader
Name[he]=Mail Reader
Name[hr]=Mail Reader
Name[hu]=Mail Reader
Name[hy_AM]=Mail Reader
Name[hye]=Mail Reader
Name[id]=Mail Reader
Name[ie]=Mail Reader
Name[is]=Mail Reader
Name[it]=Mail Reader
Name[ja]=Mail Reader
Name[kab]=Mail Reader
Name[kk]=Mail Reader
Name[ko]=Mail Reader
Name[lt]=Mail Reader
Name[ms]=Mail Reader
Name[nb]=Mail Reader
Name[nl]=Mail Reader
Name[nn]=Mail Reader
Name[oc]=Mail Reader
Name[pl]=Mail Reader
Name[pt]=Mail Reader
Name[pt_BR]=Mail Reader
Name[ro]=Mail Reader
Name[ru]=Mail Reader
Name[sk]=Mail Reader
Name[sl]=Mail Reader
Name[sq]=Mail Reader
Name[sr]=Mail Reader
Name[sv]=Mail Reader
Name[th]=Mail Reader
Name[tr]=Mail Reader
Name[ug]=Mail Reader
Name[uk]=Mail Reader
Name[zh_CN]=Mail Reader
Name[zh_HK]=Mail Reader
Name[zh_TW]=Mail Reader
Comment=Read your email
Comment[ar]=Read your email
Comment[ast]=Read your email
Comment[be]=Read your email
Comment[be@tarask]=Read your email
Comment[bg]=Read your email
Comment[bn]=Read your email
Comment[ca]=Read your email
Comment[cs]=Read your email
Comment[da]=Read your email
Comment[de]=Read your email
Comment[el]=Read your email
Comment[en_AU]=Read your email
Comment[en_CA]=Read your email
Comment[en_GB]=Read your email
Comment[es]=Read your email
Comment[et]=Read your email
Comment[eu]=Read your email
Comment[fi]=Read your email
Comment[fr]=Read your email
Comment[gl]=Read your email
Comment[he]=Read your email
Comment[hr]=Read your email
Comment[hu]=Read your email
Comment[hy_AM]=Read your email
Comment[hye]=Read your email
Comment[id]=Read your email
Comment[ie]=Read your email
Comment[is]=Read your email
Comment[it]=Read your email
Comment[ja]=Read your email
Comment[kab]=Read your email
Comment[kk]=Read your email
Comment[ko]=Read your email
Comment[lt]=Read your email
Comment[ms]=Read your email
Comment[nb]=Read your email
Comment[nl]=Read your email
Comment[nn]=Read your email
Comment[oc]=Read your email
Comment[pl]=Read your email
Comment[pt]=Read your email
Comment[pt_BR]=Read your email
Comment[ro]=Read your email
Comment[ru]=Read your email
Comment[sk]=Read your email
Comment[sl]=Read your email
Comment[sq]=Read your email
Comment[sr]=Read your email
Comment[sv]=Read your email
Comment[th]=Read your email
Comment[tr]=Read your email
Comment[ug]=Read your email
Comment[uk]=Read your email
Comment[zh_CN]=Read your email
Comment[zh_HK]=Read your email
Comment[zh_TW]=Read your email
Hidden=true

