[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=org.xfce.terminalemulator
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator
Name[ar]=Terminal Emulator
Name[ast]=Terminal Emulator
Name[be]=Terminal Emulator
Name[be@tarask]=Terminal Emulator
Name[bg]=Terminal Emulator
Name[bn]=Terminal Emulator
Name[ca]=Terminal Emulator
Name[cs]=Terminal Emulator
Name[da]=Terminal Emulator
Name[de]=Terminal Emulator
Name[el]=Terminal Emulator
Name[en_AU]=Terminal Emulator
Name[en_CA]=Terminal Emulator
Name[en_GB]=Terminal Emulator
Name[es]=Terminal Emulator
Name[et]=Terminal Emulator
Name[eu]=Terminal Emulator
Name[fi]=Terminal Emulator
Name[fr]=Terminal Emulator
Name[gl]=Terminal Emulator
Name[he]=Terminal Emulator
Name[hr]=Terminal Emulator
Name[hu]=Terminal Emulator
Name[hy_AM]=Terminal Emulator
Name[hye]=Terminal Emulator
Name[id]=Terminal Emulator
Name[ie]=Terminal Emulator
Name[is]=Terminal Emulator
Name[it]=Terminal Emulator
Name[ja]=Terminal Emulator
Name[ka]=Terminal Emulator
Name[kk]=Terminal Emulator
Name[ko]=Terminal Emulator
Name[lt]=Terminal Emulator
Name[ms]=Terminal Emulator
Name[nb]=Terminal Emulator
Name[nl]=Terminal Emulator
Name[nn]=Terminal Emulator
Name[oc]=Terminal Emulator
Name[pl]=Terminal Emulator
Name[pt]=Terminal Emulator
Name[pt_BR]=Terminal Emulator
Name[ro]=Terminal Emulator
Name[ru]=Terminal Emulator
Name[sk]=Terminal Emulator
Name[sl]=Terminal Emulator
Name[sq]=Terminal Emulator
Name[sr]=Terminal Emulator
Name[sv]=Terminal Emulator
Name[th]=Terminal Emulator
Name[tr]=Terminal Emulator
Name[ug]=Terminal Emulator
Name[uk]=Terminal Emulator
Name[zh_CN]=Terminal Emulator
Name[zh_HK]=Terminal Emulator
Name[zh_TW]=Terminal Emulator
Comment=Use the command line
Comment[ar]=Use the command line
Comment[ast]=Use the command line
Comment[be]=Use the command line
Comment[be@tarask]=Use the command line
Comment[bg]=Use the command line
Comment[bn]=Use the command line
Comment[ca]=Use the command line
Comment[cs]=Use the command line
Comment[da]=Use the command line
Comment[de]=Use the command line
Comment[el]=Use the command line
Comment[en_AU]=Use the command line
Comment[en_CA]=Use the command line
Comment[en_GB]=Use the command line
Comment[es]=Use the command line
Comment[et]=Use the command line
Comment[eu]=Use the command line
Comment[fi]=Use the command line
Comment[fr]=Use the command line
Comment[gl]=Use the command line
Comment[he]=Use the command line
Comment[hr]=Use the command line
Comment[hu]=Use the command line
Comment[hy_AM]=Use the command line
Comment[hye]=Use the command line
Comment[id]=Use the command line
Comment[ie]=Use the command line
Comment[is]=Use the command line
Comment[it]=Use the command line
Comment[ja]=Use the command line
Comment[ka]=Use the command line
Comment[kab]=Use the command line
Comment[kk]=Use the command line
Comment[ko]=Use the command line
Comment[lt]=Use the command line
Comment[ms]=Use the command line
Comment[nb]=Use the command line
Comment[nl]=Use the command line
Comment[nn]=Use the command line
Comment[oc]=Use the command line
Comment[pl]=Use the command line
Comment[pt]=Use the command line
Comment[pt_BR]=Use the command line
Comment[ro]=Use the command line
Comment[ru]=Use the command line
Comment[sk]=Use the command line
Comment[sl]=Use the command line
Comment[sq]=Use the command line
Comment[sr]=Use the command line
Comment[sv]=Use the command line
Comment[th]=Use the command line
Comment[tr]=Use the command line
Comment[ug]=Use the command line
Comment[uk]=Use the command line
Comment[zh_CN]=Use the command line
Comment[zh_HK]=Use the command line
Comment[zh_TW]=Use the command line
Hidden=true

