[Desktop Entry]
Name=Task Manager
Name[ar]=Task Manager
Name[ast]=Task Manager
Name[be]=Task Manager
Name[bg]=Task Manager
Name[ca]=Task Manager
Name[cs]=Task Manager
Name[da]=Task Manager
Name[de]=Task Manager
Name[el]=Task Manager
Name[en_AU]=Task Manager
Name[en_GB]=Task Manager
Name[es]=Task Manager
Name[et]=Task Manager
Name[eu]=Task Manager
Name[fi]=Task Manager
Name[fr]=Task Manager
Name[gl]=Task Manager
Name[he]=Task Manager
Name[hr]=Task Manager
Name[hu]=Task Manager
Name[hy_AM]=Task Manager
Name[hye]=Task Manager
Name[id]=Task Manager
Name[ie]=Task Manager
Name[is]=Task Manager
Name[it]=Task Manager
Name[ja]=Task Manager
Name[kk]=Task Manager
Name[ko]=Task Manager
Name[lt]=Task Manager
Name[ms]=Task Manager
Name[nb]=Task Manager
Name[nl]=Task Manager
Name[oc]=Task Manager
Name[pl]=Task Manager
Name[pt]=Task Manager
Name[pt_BR]=Task Manager
Name[ru]=Task Manager
Name[sk]=Task Manager
Name[sl]=Task Manager
Name[sq]=Task Manager
Name[sr]=Task Manager
Name[sv]=Task Manager
Name[te]=Task Manager
Name[th]=Task Manager
Name[tr]=Task Manager
Name[ug]=Task Manager
Name[uk]=Task Manager
Name[vi]=Task Manager
Name[zh_CN]=Task Manager
Name[zh_HK]=Task Manager
Name[zh_TW]=Task Manager
Comment=Easy to use application to monitor system resources
Comment[be]=Easy to use application to monitor system resources
Comment[bg]=Easy to use application to monitor system resources
Comment[ca]=Easy to use application to monitor system resources
Comment[cs]=Easy to use application to monitor system resources
Comment[da]=Easy to use application to monitor system resources
Comment[de]=Easy to use application to monitor system resources
Comment[es]=Easy to use application to monitor system resources
Comment[et]=Easy to use application to monitor system resources
Comment[eu]=Easy to use application to monitor system resources
Comment[fi]=Easy to use application to monitor system resources
Comment[fr]=Easy to use application to monitor system resources
Comment[gl]=Easy to use application to monitor system resources
Comment[he]=Easy to use application to monitor system resources
Comment[hye]=Easy to use application to monitor system resources
Comment[id]=Easy to use application to monitor system resources
Comment[it]=Easy to use application to monitor system resources
Comment[ja]=Easy to use application to monitor system resources
Comment[kk]=Easy to use application to monitor system resources
Comment[ko]=Easy to use application to monitor system resources
Comment[lt]=Easy to use application to monitor system resources
Comment[nb]=Easy to use application to monitor system resources
Comment[nl]=Easy to use application to monitor system resources
Comment[pl]=Easy to use application to monitor system resources
Comment[pt]=Easy to use application to monitor system resources
Comment[pt_BR]=Easy to use application to monitor system resources
Comment[ru]=Easy to use application to monitor system resources
Comment[sk]=Easy to use application to monitor system resources
Comment[sq]=Easy to use application to monitor system resources
Comment[sr]=Easy to use application to monitor system resources
Comment[sv]=Easy to use application to monitor system resources
Comment[tr]=Easy to use application to monitor system resources
Comment[zh_CN]=Easy to use application to monitor system resources
Comment[zh_TW]=Easy to use application to monitor system resources
GenericName=Task Manager
GenericName[ar]=Task Manager
GenericName[ast]=Task Manager
GenericName[be]=Task Manager
GenericName[bg]=Task Manager
GenericName[ca]=Task Manager
GenericName[cs]=Task Manager
GenericName[da]=Task Manager
GenericName[de]=Task Manager
GenericName[el]=Task Manager
GenericName[en_AU]=Task Manager
GenericName[en_GB]=Task Manager
GenericName[es]=Task Manager
GenericName[et]=Task Manager
GenericName[eu]=Task Manager
GenericName[fi]=Task Manager
GenericName[fr]=Task Manager
GenericName[gl]=Task Manager
GenericName[he]=Task Manager
GenericName[hr]=Task Manager
GenericName[hu]=Task Manager
GenericName[hy_AM]=Task Manager
GenericName[hye]=Task Manager
GenericName[id]=Task Manager
GenericName[ie]=Task Manager
GenericName[is]=Task Manager
GenericName[it]=Task Manager
GenericName[ja]=Task Manager
GenericName[kk]=Task Manager
GenericName[ko]=Task Manager
GenericName[lt]=Task Manager
GenericName[ms]=Task Manager
GenericName[nb]=Task Manager
GenericName[nl]=Task Manager
GenericName[oc]=Task Manager
GenericName[pl]=Task Manager
GenericName[pt]=Task Manager
GenericName[pt_BR]=Task Manager
GenericName[ru]=Task Manager
GenericName[sk]=Task Manager
GenericName[sl]=Task Manager
GenericName[sq]=Task Manager
GenericName[sr]=Task Manager
GenericName[sv]=Task Manager
GenericName[te]=Task Manager
GenericName[th]=Task Manager
GenericName[tr]=Task Manager
GenericName[ug]=Task Manager
GenericName[uk]=Task Manager
GenericName[vi]=Task Manager
GenericName[zh_CN]=Task Manager
GenericName[zh_HK]=Task Manager
GenericName[zh_TW]=Task Manager
Exec=xfce4-taskmanager
Icon=org.xfce.taskmanager
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
Hidden=true

